.teclado{
  display: block;
  position: fixed;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  bottom: 0px;
  background-color:#0097a7;
}
.tecla{
  background-color: white;
  position: static;
  display: inline-block;
  width: 12%;
  height: 200px;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  z-index: -10px;
}
.tecla:hover{
  background-color: #fb8c00;
}
.accidente{
  display:inline-block;
  position: absolute;
  width: 8%;
  height: 100px;
  background-color: #424242;
  z-index: 10px;
  border-radius: 20px;
  margin-left: -5%;
}
.accidente:hover{
    background-color: #ffd54f;
}
