body {  min-width:900px; }
button img{
  max-width: 30%;
}
.opTiem{
  width: 10%;
}
.Active{
  background-color: rgb(119, 208, 117);
}
/*Chat*/
.chat{
  display: block;
  position: fixed;
  width: 30%;
  height: 200px;
  right: 0px;
  bottom: 0px;
  background-color: #0097a7;
}
.chat span{
  text-align: center;
  font-size: 300%;
  width: 7vw;
  display: inline-block;
  color: #455a64;
  height: 33%``;
}

.contenedor{
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    width: 350px;
    z-index: 5;
}
.tostada{
  width: 30%;
  position:relative;
  z-index:99999999999;
  top: 15%;
  font-size: large;
  font-weight: bold;
  padding: 2% 6% 2% 6%;
  bottom: 100vh;
  right:-300px;
  cursor: pointer;
}
.tostada:hover{
  background-color: rgb(138, 129, 148);
}
/*---*/
.teclado{
  display: block;
  position: fixed;
  min-width: 100%;
  width: 70%;
  max-width: 70%;
  bottom: 0px;
  right: 0px;
  background-color:#0097a7;
}

.tecla{
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  background-color: white;
  position: static;
  display: inline-block;
  width: 8%;
  height: 200px;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  z-index: -10px;
}

.tecla:hover{
  background-color: #fb8c00;
}

.accidente{
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  display:inline-block;
  position: absolute;
  width: 8%;
  height: 100px;
  background-color: #424242;
  z-index: 10px;
  border-radius: 20px;
  margin-left: -5%;
}

.accidente:hover{
    background-color: #ffd54f;
}
.options{
  max-width: 12%;
  display: inline-block;
  width: 12%;
}
#Controlador{
  max-width: 100%;
}
.ControlOctavas{
  max-width: 100%;
}
#Cs{
  max-width: 40%;
  margin-left: 5%;
}
.ui-spinner{
  max-width: 50%;
}
.opTe{
  position: fixed;
  right: 20px;
  bottom: 210px;
}
.OpDur{
  font-size: xl;
  position: fixed;
  bottom: 210px;
  left: 20px;
}
.SilencioCont{
  display: block;
  position: fixed;
  width: 70px;
  height: 30px;
  max-width: 80px!important;
  bottom: 210px;
  right: 110px;
  /*left: 450px;*/
}
//Dagas que no entiendo
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 50px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
